USE [master]
GO
/****** Object:  Database [ScheduleManagement]    Script Date: 26/03/2024 3:47:25 CH ******/
CREATE DATABASE [ScheduleManagement]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScheduleManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScheduleManagement]
GO
/****** Object:  Table [dbo].[GroupClass]    Script Date: 26/03/2024 3:47:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupClass](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
 CONSTRAINT [classes_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 26/03/2024 3:47:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
 CONSTRAINT [rooms_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 26/03/2024 3:47:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[classId] [int] NOT NULL,
	[subjectId] [int] NOT NULL,
	[teacherId] [int] NOT NULL,
	[roomId] [int] NOT NULL,
	[slotId] [int] NOT NULL,
 CONSTRAINT [schedule_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slots]    Script Date: 26/03/2024 3:47:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[details] [nvarchar](255) NOT NULL,
	[slotName] [nvarchar](255) NOT NULL,
 CONSTRAINT [slots_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 26/03/2024 3:47:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[details] [nvarchar](255) NOT NULL,
 CONSTRAINT [subjects_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 26/03/2024 3:47:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
 CONSTRAINT [teachers_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GroupClass] ON 

INSERT [dbo].[GroupClass] ([id], [code]) VALUES (1, N'SE1702')
INSERT [dbo].[GroupClass] ([id], [code]) VALUES (2, N'SE1712')
INSERT [dbo].[GroupClass] ([id], [code]) VALUES (3, N'SE1760')
SET IDENTITY_INSERT [dbo].[GroupClass] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([id], [code]) VALUES (1, N'BE-113')
INSERT [dbo].[Rooms] ([id], [code]) VALUES (2, N'BE-416')
INSERT [dbo].[Rooms] ([id], [code]) VALUES (3, N'BE-114')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([id], [classId], [subjectId], [teacherId], [roomId], [slotId]) VALUES (336, 1, 2, 7, 1, 6)
INSERT [dbo].[Schedule] ([id], [classId], [subjectId], [teacherId], [roomId], [slotId]) VALUES (337, 2, 1, 2, 1, 2)
INSERT [dbo].[Schedule] ([id], [classId], [subjectId], [teacherId], [roomId], [slotId]) VALUES (338, 3, 6, 6, 2, 4)
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Slots] ON 

INSERT [dbo].[Slots] ([id], [details], [slotName]) VALUES (2, N'A24', N'A24')
INSERT [dbo].[Slots] ([id], [details], [slotName]) VALUES (3, N'A35', N'A35')
INSERT [dbo].[Slots] ([id], [details], [slotName]) VALUES (4, N'A63', N'A63')
SET IDENTITY_INSERT [dbo].[Slots] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([id], [code], [details]) VALUES (1, N'PRN221', N'	Advanced Cross-Platform Application Programming With .NET(PRN221)')
INSERT [dbo].[Subjects] ([id], [code], [details]) VALUES (2, N'SWD392', N'	SW Architecture and Design(SWD392)')
INSERT [dbo].[Subjects] ([id], [code], [details]) VALUES (3, N'PRM392', N'Mobile Programming(PRM392)')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([id], [code], [fullName]) VALUES (2, N'ChiLP', N'Le Phuong Chi')
INSERT [dbo].[Teachers] ([id], [code], [fullName]) VALUES (4, N'KhuongPD', N'Phung Duy Khuong')
INSERT [dbo].[Teachers] ([id], [code], [fullName]) VALUES (5, N'KhangPQ', N'Pham Quang Khang')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [schedule_classid_foreign] FOREIGN KEY([classId])
REFERENCES [dbo].[GroupClass] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [schedule_classid_foreign]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [schedule_roomid_foreign] FOREIGN KEY([roomId])
REFERENCES [dbo].[Rooms] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [schedule_roomid_foreign]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [schedule_subjectid_foreign] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subjects] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [schedule_subjectid_foreign]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [schedule_teacherid_foreign] FOREIGN KEY([teacherId])
REFERENCES [dbo].[Teachers] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [schedule_teacherid_foreign]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [schedule_timeslotid_foreign] FOREIGN KEY([slotId])
REFERENCES [dbo].[Slots] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [schedule_timeslotid_foreign]
GO
USE [master]
GO
